body {
  font-family: "DM Sans";
  margin: 0;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

h2 {
  font-size: 4rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 8px;
}

.relative {
  position: relative;
}

section {
  margin: 0 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

header {
  position: absolute;
  width: 100%;
  height: 12vh;
  top: 0;
  left: 0px;
  background: #ffb8ca;
  padding: 0 1rem;
}

nav {
  position: relative;
  right: 120px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  right: -120px;
  font-size: 2rem;
  width: 199px;
  height: 50px;
}

.toggle {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  /* original justify-content: space-between;*/
  align-items: center;
  list-style: none;
  width: 550px;
}

.menu li a {
  text-decoration: none;
}

.btn {
  position: relative;
  right: -550px;
  border: 0;
  background: rgb(214, 192, 255);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.btn.btn-secondary {
  background: transparent;
  border: 2px solid rgb(207, 255, 192);
  color: yellow;
  display: none;
}

.btn-letter {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #d41443;
}

/*Section Hero*/
.hero {
  height: 100vh;
  background: #c24f6b;
}

/***************************************Responsive 480********************************************************/
@media (max-width: 480px) {
  .toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }
  .menu-hamburger {
    display: block;
  }
  .menu-close {
    display: none;
  }
  .open .menu-hamburger {
    display: none;
  }
  .open .menu-close {
    display: block;
  }
  .menu {
    position: absolute;
    top: 0;
    left: 10;
    width: 100%;
    height: 100vh;
    background: seagreen;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .menu li a {
    font-size: 2rem;
  }
  .btn-secondary {
    display: block;
  }
  .open .menu {
    transform: translateX(0);
  }
}
/****************************************Responsive 768**********************************************/
@media (max-width: 768px) {
  .toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }
  .logo {
    position: relative;
    right: 0px;
    font-size: 2rem;
    width: 199px;
    height: 50px;
  }
  nav {
    position: relative;
    right: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-hamburger {
    display: block;
  }
  .menu-close {
    display: none;
  }
  .open .menu-hamburger {
    display: none;
  }
  .open .menu-close {
    display: block;
  }
  .menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: #e17992;
    flex-direction: column;
    padding: 2rem;
    justify-content: last baseline;
    align-items: flex-start;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .menu li a {
    font-size: 2rem;
  }
  .btn {
    position: relative;
    right: 0px;
    border: 0;
    background: rgb(214, 192, 255);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
  }
  .btn-secondary {
    display: none;
    position: relative;
    margin-top: -565px;
    left: 250px;
  }
  .open .menu {
    transform: translateX(0);
  }
}
.icecream-main {
  margin-top: 70px;
}
.icecream-main .icecream {
  background-color: #FFB8CA;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0%;
}
.icecream-main .icecream .icecream__left-section {
  left: 10vh;
}
.icecream-main .icecream .icecream__left-section .icecream__left-section--tittles {
  position: relative;
  top: 10%;
}
.icecream-main .icecream .icecream__left-section .icecream__left-section--tittles .left-section__tittles--tittle1 {
  color: #FFFFFF;
  font-family: Titan One;
  font-size: 40px;
  width: 277px;
}
.icecream-main .icecream .icecream__left-section .icecream__left-section--tittles .left-section__tittles--tittle2 {
  color: #D41443;
  font-family: Titan One;
}
.icecream-main .icecream .icecream__left-section .icecream__left-section--ul {
  position: relative;
  top: 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.icecream-main .icecream .icecream__left-section .icecream__left-section--ul .icecream__left-section--button1 {
  width: 107px;
  height: 38px;
  background-color: #D41443;
  color: #FFFFFF;
  font-size: 8px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}
.icecream-main .icecream .icecream__left-section .icecream__left-section--ul .icecream__left-section--button2 {
  width: 138px;
  height: 38px;
  background-color: #FFFFFF;
  color: #D41443;
  font-size: 8px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}
.icecream-main .icecream .icecream__left-section--div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.icecream-main .icecream .icecream__left-section--div .icecream__left-section--milk-img {
  left: -3%;
  padding-top: 5%;
}
.icecream-main .icecream .icecream__left-section--div .icecream__left-section--paragraph {
  width: 200px;
  font-size: 14px;
  color: #FFFFFF;
}
.icecream-main .icecream .icecream__left-section--div .icecream__left-section--arrow-img {
  padding-top: 3%;
}
.icecream-main .icecream .icecream__rigth-section--img {
  position: relative;
  left: 30vh;
  bottom: -3vh;
}
.icecream-main .icecream .icecream__rigth-section--div {
  left: 25vh;
  top: 20vh;
}
.icecream-main .icecream .icecream__rigth-section--div .rigth-section__numbers-ul {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  top: -20vh;
}
.icecream-main .icecream .icecream__rigth-section--div .rigth-section__numbers-ul .rigth-section__numbers-ul--number {
  color: #D41443;
  font-family: Titan One;
}
.icecream-main .icecream .icecream__rigth-section--div .rigth-section__numbers-ul .rigth-section__numbers-ul--paragraph {
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 480px) {
  .icecream {
    height: 409px;
  }
  .icecream-main .icecream .icecream__left-section .icecream__left-section--tittles {
    position: relative;
    top: 10%;
    padding-left: 0;
  }
  .icecream-main .icecream .icecream__left-section {
    left: 5vh;
  }
  .icecream__left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    padding-left: 0px;
    left: 10%;
  }
  .left-section__tittles--tittle1 {
    font-size: 40px;
  }
  .icecream__left-section--ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0%;
  }
  .icecream__left-section--milk-img, .icecream__left-section--paragraph, .icecream__left-section--arrow-img, .rigth-section__numbers-ul, .rigth-section__soo-tasty-ul {
    display: none;
  }
  .icecream__rigth-section--div {
    display: none;
  }
  .icecream__rigth-section--ul {
    width: 171px;
    height: auto;
    right: 9vh;
    position: relative;
  }
  .icecream-main .icecream .icecream__rigth-section--img {
    position: relative;
    bottom: 0;
    left: 0;
  }
  .icecream__rigth-section--img {
    width: 171px;
    height: auto;
    position: absolute;
    right: 10%;
    left: 0px;
  }
  .bubbles span:nth-child(1) {
    width: 301px;
    height: 250px;
    animation: bubble 6s ease-in-out infinite;
    top: 19%;
    left: -1%;
  }
  .bubbles span:nth-child(2) {
    display: none;
  }
  .bubbles span:nth-child(3) {
    display: none;
  }
  .bubbles span:nth-child(4) {
    display: none;
  }
  .bubbles span:nth-child(5) {
    display: none;
  }
  .bubbles span:nth-child(6) {
    display: none;
  }
  .bubbles span:nth-child(7) {
    display: none;
  }
  .bubbles span:nth-child(8) {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .icecream-main .icecream .icecream__rigth-section--div .rigth-section__numbers-ul {
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    top: -11vh;
  }
  .icecream-main .icecream .icecream__left-section {
    left: 5vh;
    z-index: 3;
  }
  .icecream-main .icecream .icecream__rigth-section--div {
    top: 10.5vh;
    left: -3vh;
  }
  .icecream__rigth-section--ul {
    position: relative;
    bottom: -2.5vh;
    right: 15%;
  }
  .bubbles span:nth-child(2) {
    display: none;
  }
  .bubbles span:nth-child(3) {
    display: none;
  }
  .bubbles span:nth-child(4) {
    display: none;
  }
  .bubbles span:nth-child(5) {
    display: none;
  }
  .bubbles span:nth-child(6) {
    display: none;
  }
  .bubbles span:nth-child(7) {
    display: none;
  }
  .bubbles span:nth-child(8) {
    display: none;
  }
}
.bubbles {
  position: absolute;
  width: 96%;
  height: 100%;
  background-color: transparent;
}

.bubbles span {
  position: absolute;
  border-radius: 50%;
  background-color: #FFA5BA;
  opacity: 0.8;
}

.bubbles span:nth-child(1) {
  width: 301px;
  height: 250px;
  animation: bubble 6s ease-in-out infinite;
  top: 19%;
  left: -1%;
}

.bubbles span:nth-child(2) {
  width: 150px;
  height: 130px;
  top: 33%;
  left: 78%;
  animation: bubble 4s ease-in-out infinite;
}

.bubbles span:nth-child(3) {
  width: 400px;
  height: 350px;
  top: 35%;
  left: 45%;
  animation: bubble 5s ease-in-out infinite;
}

.bubbles span:nth-child(4) {
  width: 80px;
  height: 70px;
  top: 50%;
  left: 10%;
  animation: bubble 3s ease-in-out infinite;
}

.bubbles span:nth-child(5) {
  width: 68px;
  height: 60px;
  top: 22%;
  left: 92%;
  animation: bubble 6s ease-in-out infinite;
  background-color: #FFFFFF;
}

.bubbles span:nth-child(6) {
  width: 20px;
  height: 20px;
  top: 20%;
  left: 40%;
  animation: bubble 4s ease-in-out infinite;
}

.bubbles span:nth-child(7) {
  width: 68px;
  height: 60px;
  animation: bubble 6s ease-in-out infinite;
  top: 9%;
  left: 92%;
  background-color: #FFFFFF;
}

.bubbles span:nth-child(8) {
  width: 25px;
  height: 25px;
  top: 40%;
  left: 80%;
  animation: bubble 5s ease-in-out infinite;
}

@keyframes bubble {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/*-------card---------*/
.container-cards {
  background-image: linear-gradient(to top, #FFF5F6 79%, #FFFFFF 21%);
  background-size: 100% 100%;
  margin-top: 30px;
}

/*contiene las 3 cards*/
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*contiene la card*/
.card-box {
  background-color: #FFFFFF;
  width: 280px;
  height: 412px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 40px 32px;
  border-radius: 8%;
  box-shadow: 0px 0px 4px rgba(245, 153, 181, 0.25);
  transition: transform 0.2s ease-in-out;
}
.card-box:hover {
  transform: translateY(-10px);
}

/*animacion  title cards*/
.card-box:hover .card__title-primary1 {
  animation: wave 0.5s linear infinite alternate;
}

.card-box:hover .card__title-primary2 {
  animation: wave 0.5s linear infinite alternate-reverse;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
/*cafe*/
.card__title-primary1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 16px;
  border: 2px;
  border-radius: 6px;
  color: #FFFFFF;
  background-color: rgb(240, 209, 165);
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 4%;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 20px;
}

/*foodtruck*/
.card__title-primary2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 16px;
  border: 2px;
  border-radius: 6px;
  color: #FFFFFF;
  background-color: rgb(194, 226, 151);
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 4%;
  font-weight: 500;
  line-height: 22px;
  font-size: 12px;
  margin-bottom: 20px;
}

/*ciudad y semanas*/
.card__title-secundary {
  text-transform: capitalize;
  color: #000000;
  font-style: normal;
  letter-spacing: 4%;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  height: 22px;
}

/*letra texto*/
.card__text {
  color: #907E82;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  height: 36px;
  line-height: 18px;
  margin-top: 12px;
}

/*line*/
.card-line {
  border: 1px solid #E1E1E1;
  margin: 24px 0;
  width: 216px;
}

/*hora*/
.card-schedule__text {
  color: rgb(255, 165, 186);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 8px;
}

/*box contacts*/
.card__contacts {
  text-decoration: none;
  list-style: none;
  color: #907E82;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  width: 179px;
  height: 37px;
}
.card__contacts .card__list {
  text-decoration: none;
  color: #907E82;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

/*------cards-btn----*/
.cards-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  padding-bottom: 20px;
  gap: 10px;
}
.cards-btn .card-btn1 {
  color: #FFFFFF;
  fill: #FFFFFF;
  background-color: #D41443;
  font-family: "DM Sans";
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  border-radius: 25px;
  width: 161.45px;
  height: 44px;
  border: 0;
}
.cards-btn .card-btn1:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
}
.cards-btn .card-btn2 {
  color: #D41443;
  fill: #D41443;
  background-color: #FFFFFF;
  font-family: "DM Sans";
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  border-radius: 22px;
  width: 161px;
  height: 44px;
  border: 0;
}
.cards-btn .card-btn2:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .container-cards {
    background-image: linear-gradient(to top, #FFF5F6 58%, #FFFFFF 42%);
  }
  .cards {
    flex-direction: row;
    justify-content: space-between;
  }
  .card-box {
    background-color: #FFFFFF;
    padding: 32px;
    width: 224px;
    height: 528px;
  }
  .card__title-primary1 {
    width: 72px;
    height: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 32px;
  }
  .card__title-primary2 {
    width: 138px;
    height: 28px;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 32px;
  }
  .card__title-secundary {
    font-size: 14px;
    line-height: 26px;
    height: 26px;
  }
  .card__text {
    font-size: 14px;
    height: 65px;
    line-height: 23px;
    margin-top: 12px;
  }
  .card-line {
    border: 1px solid #E1E1E1;
    margin: 32px 0;
    width: 160px;
  }
  .card-schedule__text {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 12px;
  }
  .card__contacts {
    font-size: 14px;
    line-height: 26px;
    width: 160px;
    height: 48px;
  }
  .card__contacts .card__list {
    font-size: 14px;
    line-height: 26px;
  }
  .cards-btn {
    flex-direction: row;
    margin-top: 40px;
    padding-bottom: 20px;
    gap: 14.5px;
  }
  .cards-btn .card-btn1 {
    width: 191.45px;
  }
  .cards-btn .card-btn2 {
    width: 174.05px;
  }
}
@media (min-width: 1200px) {
  .container-cards {
    background-image: linear-gradient(to top, #FFF5F6 86%, #FFFFFF 14%);
  }
  .cards {
    flex-direction: row;
    justify-content: space-between;
  }
  .card-box {
    background-color: #FFFFFF;
    padding: 40px;
    width: 368px;
    height: 538px;
  }
  .card__title-primary1 {
    width: 75.1px;
    height: 28px;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 32px;
  }
  .card__title-primary2 {
    width: 138px;
    height: 28px;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 32px;
  }
  .card__title-secundary {
    font-size: 16px;
    line-height: 30px;
    height: 30px;
  }
  .card__text {
    font-size: 16px;
    height: 50px;
    line-height: 29px;
    margin-top: 12px;
  }
  .card-line {
    border: 1px solid #E1E1E1;
    margin: 32px 0;
    width: 288px;
  }
  .card-schedule__text {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  .card__contacts {
    font-size: 16px;
    line-height: 29px;
    width: 243px;
    height: 50px;
  }
  .card__contacts .card__list {
    font-size: 16px;
    line-height: 29px;
  }
  .cards-btn {
    flex-direction: row;
    margin-top: 40px;
    padding-bottom: 20px;
    gap: 12px;
  }
  .cards-btn .card-btn1 {
    width: 198px;
  }
  .cards-btn .card-btn2 {
    width: 168px;
  }
}
.footer {
  background-color: #FFF5F6;
  font-family: "DM Sans";
  display: flex;
  flex-direction: column;
}

/*footer-titles*/
.footer-titles {
  font-family: Titan One;
  text-transform: uppercase;
  font-weight: 400px;
  padding-top: 20px;
  gap: 16px;
  margin-bottom: 40px;
}
.footer-titles .footer--title1 {
  color: #FFA5BA;
  font-size: 18px;
  line-height: 21px;
  width: 232px;
  height: 42px;
}
.footer-titles .footer--title2 {
  color: #D41443;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 4%;
  width: 200px;
  height: 76px;
}

/*footer-icons*/
.footer-icons {
  display: flex;
  justify-content: flex-end;
}
.footer-icons .footer-icons__list {
  display: flex;
  gap: 28.24px;
  width: 152.47px;
  height: 32px;
}

.footer-icons__container {
  display: flex;
  width: 32px;
  height: 32px;
}
.footer-icons__container .footer-icons__item {
  margin: 0;
  text-align: center;
  border-radius: 50%;
  background-color: #FFB8CA;
  transition: background-color 0.2s ease-in-out;
}
.footer-icons__container .footer-icons__item a svg {
  width: 32px;
  height: 32px;
  display: block;
  margin: 0;
  fill: #fea5bb;
}
.footer-icons__container .footer-icons__item a svg:hover {
  fill: #D41443;
}

/*footer-contact*/
.footer-contact__address {
  display: flex;
  font-style: Bold;
  font-weight: 700px;
  gap: 2px;
  width: 230px;
  height: 22px;
}
.footer-contact__address .footer-contact__p {
  color: #000000;
  font-size: 0.75rem;
  line-height: 1.375rem;
}
.footer-contact__address .footer-contact__p .footer-contact__link {
  color: #D41443;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  font-size: 0.75rem;
}

/*footer-rights*/
.line {
  background-color: #907E82;
  height: 1px;
  width: 100%;
}

.footer-rights {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.438rem;
  margin-bottom: 0.188rem;
}
.footer-rights .footer__text {
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-style: bold;
  color: #907E82;
  font-size: 0.875rem;
}

/********Animaciones**********/
/*footer-titles*/
.footer--title1,
.footer--title2 {
  transition: transform 0.5s ease;
}

.footer--title1:hover,
.footer--title2:hover {
  transform: translateX(1.25rem);
}

/*footer-icons*/
.footer-icons__item {
  display: inline-block;
  margin: 0 0.9375rem;
  transition: transform 0.5s ease;
}

.footer-icons__item:hover svg {
  animation: rotate 1s linear infinite, rotate-stop 0.5s linear 1 forwards;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-stop {
  100% {
    transform: rotate(360deg);
  }
}
/*footer-contact*/
.footer-contact {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.footer-contact:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    height: 300px;
  }
  /*footer-titles*/
  .footer-titles {
    float: left;
    width: 50%;
  }
  .footer-titles .footer--title1 {
    width: 340px;
    height: 57px;
    font-size: 26px;
    line-height: 30px;
  }
  .footer-titles .footer--title2 {
    width: 320px;
    height: 110px;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 6%;
  }
  /*footer-icons*/
  .footer-icons {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
  }
  .footer-icons .footer-icons__list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /*footer-contact*/
  .footer-contact__address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20%;
  }
  .footer-contact__address .footer-contact__p {
    font-size: 0.875rem;
    line-height: 26px;
    text-align: right;
  }
  .footer-icons,
  .footer-contact {
    float: right;
    width: 50%;
  }
  /*footer-rights*/
  .line {
    margin-top: 40px;
    width: 100%;
    height: 1px;
    clear: both;
  }
  .footer-rights {
    width: 100%;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer-rights .footer__text {
    display: flex;
    font-size: 14px;
    line-height: 26px;
    flex-direction: row;
  }
  .footer-rights .footer__text p {
    padding-right: 3px;
  }
}
@media (min-width: 768px) {
  .footer {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    height: 235px;
  }
  /*footer-titles*/
  .footer-titles {
    float: left;
    width: 50%;
  }
  .footer-titles .footer--title1 {
    width: 472px;
    height: 34px;
    font-size: 30px;
    line-height: 34px;
  }
  .footer-titles .footer--title2 {
    margin-top: 1rem;
    width: 474px;
    height: 66px;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 6%;
  }
  /*footer-icons*/
  .footer-icons {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .footer-icons .footer-icons__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /*footer-contact*/
  .footer-contact__address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 270px;
    margin: 0;
  }
  .footer-contact__address .footer-contact__p {
    font-size: 1rem;
    line-height: 30px;
    text-align: right;
    padding-right: 12px;
  }
  /*footer-rights*/
  .line {
    margin-top: 40px;
    width: 97.25%;
    height: 1px;
    clear: both;
    margin: 40px auto 7px auto;
  }
  .footer-rights {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer-rights .footer__text {
    display: flex;
    font-size: 14px;
    line-height: 26px;
    flex-direction: row;
    margin-bottom: 7px;
  }
  .footer-rights .footer__text p {
    padding-right: 3px;
  }
}/*# sourceMappingURL=index.css.map */