
$pink_color:#FFA5BA;
$violet_color:#D41443;
$white_color:#FFFFFF;
$grey_color:#907E82;
$black_color:#000000;
$lightpink_color:#FFB8CA;
$background_main: #FFF5F6;

$line: #E1E1E1;
$btnf-hover: #c7133e;
$btnf2-hover: #ecebeb;
$social: #fea5bb;

