<section>
    <div class="container-cards">
      <section class="cards">
        <div class="card-box">
          <h2 class="card__title-primary1">cafe</h2>
          <div class="card__city">
            <h3 class="card__title-secundary">chicago</h3>
            <p class="card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="card-line"></div>
          <div class="card__schedule">
            <h3 class="card__title-secundary">Monday-Friday</h3>
            <p class="card-schedule__text">06:00 AM - 10:00 PM</p>
            <h3 class="card__title-secundary">Saturday-Sunday</h3>
            <p class="card-schedule__text">08:00 AM - 16:00 PM</p>
          </div>
          <div class="card-line"></div>
          <div class="card__contacts">
            <ul class="card__items">
              <li>
                <a class="card__list" href="610383766284">+61(0)383766284</a>
              </li>
              <li>
                <a class="card__list" href="mailto:info@example.com"></a
                >noreply@envato.com
              </li>
            </ul>
          </div>
        </div>
        <div class="card-box">
          <h2 class="card__title-primary2">foodtruck</h2>
          <div class="card__city">
            <h3 class="card__title-secundary">los angeles</h3>
            <p class="card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="card-line"></div>
          <div class="card__schedule">
            <h3 class="card__title-secundary">Monday-Friday</h3>
            <p class="card-schedule__text">06:00 AM - 10:00 PM</p>
            <h3 class="card__title-secundary">Saturday-Sunday</h3>
            <p class="card-schedule__text">08:00 AM - 16:00 PM</p>
          </div>
          <div class="card-line"></div>
          <div class="card__contacts">
            <ul class="card__items">
              <li>
                <a class="card__list" href="610383766284">+61(0)383766284</a>
              </li>
              <li>
                <a class="card__list" href="mailto:info@example.com"></a
                >noreply@envato.com
              </li>
            </ul>
          </div>
        </div>
        <div class="card-box">
          <h2 class="card__title-primary1">cafe</h2>
          <div class="card__city">
            <h3 class="card__title-secundary">new york</h3>
            <p class="card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="card-line"></div>
          <div class="card__schedule">
            <h3 class="card__title-secundary">Monday-Friday</h3>
            <p class="card-schedule__text">06:00 AM - 10:00 PM</p>
            <h3 class="card__title-secundary">Saturday-Sunday</h3>
            <p class="card-schedule__text">08:00 AM - 16:00 PM</p>
          </div>
          <div class="card-line"></div>
          <div class="card__contacts">
            <ul class="card__items">
              <li>
                <a class="card__list" href="610383766284">+61(0)383766284</a>
              </li>
              <li>
                <a class="card__list" href="mailto:info@example.com"></a
                >noreply@envato.com
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="cards-btn">
        <button class="card-btn1" type="button">
          Our Locations >
          <svg width="20px" height="10px" class="card-btn1--icon">
            <use href="./images/icons.svg#icon-btn-cards"></use>
          </svg>
        </button>
        <button class="card-btn2" type="button">
          Franchise >
          <svg width="10px" height="20px" class="card-btn2--icon">
            <use href="./images/icons.svg#icon-btn-cards"></use>
          </svg>
        </button>
      </section>
    </div>
</section>