<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="./card.html"/>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"/>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>card</title>
    </head>
    <body>
        <header></header>
        <main>
            <section class="card">
                <div class="card-city__chicago">
                  <h2 class="card__title-primary">cafe</h2>
                  <div  class="card__city" >
                    <h3 class="card__title-secundary" >chicago</h3>
                    <p  class="card__text" >Lorem ipsum dolor sit, 
                        amet consectetur adipisicing elit.
                    </p>
                  </div>
                  <div class="card__schedule"  >
                    <h3 class="card__title-secundary">Monday-Friday</h3>
                    <p class="card-schedule__text" >06:00 AM - 10:00 PM</p>
                    <h3 class="card__title-secundary">Saturday-Sunday</h3>
                    <p class="card-schedule__text" >08:00 AM - 16:00 PM</p>
                    <div class="card__contacts"  >
                      <ul class="card__items" >
                        <li> <a class="card__list" href="610383766284">+61(0)383766284</a> </li>
                        <li> <a class="card__list" href="mailto:info@example.com"></a>noreply@envato.com</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-city__the angels">
                  <h2 lass="card__title-primary">foodtruck</h2>
                  <div class="card__city">
                    <h3 class="card__title-secundary">Los Angeles</h3>
                    <p  class="card__text" >Lorem ipsum dolor sit, 
                      amet consectetur adipisicing elit.
                    </p>
                  </div>
                  <div class="card__schedule"  >
                    <h3 class="card__title-secundary">Monday-Friday</h3>
                    <p class="card-schedule__text" >06:00 AM - 10:00 PM</p>
                    <h3 class="card__title-secundary">Saturday-Sunday</h3>
                    <p class="card-schedule__text" >08:00 AM - 16:00 PM</p>
                    <div class="card__contacts"  >
                      <ul class="card__items" >
                        <li> <a class="card__list" href="610383766284">+61(0)383766284</a> </li>
                        <li> <a class="card__list" href="mailto:info@example.com"></a>noreply@envato.com</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-city__newyork">
                  <h2 lass="card__title-primary">cafe</h2>
                  <div class="card__city">
                    <h3 class="card__title-secundary">New York</h3>
                    <p  class="card__text" >Lorem ipsum dolor sit, 
                      amet consectetur adipisicing elit.
                    </p>
                  </div>
                  <div class="card__schedule"  >
                    <h3 class="card__title-secundary">Monday-Friday</h3>
                    <p class="card-schedule__text" >06:00 AM - 10:00 PM</p>
                    <h3 class="card__title-secundary">Saturday-Sunday</h3>
                    <p class="card-schedule__text" >08:00 AM - 16:00 PM</p>
                    <div class="card__contacts"  >
                      <ul class="card__items" >
                        <li> <a class="card__list" href="610383766284">+61(0)383766284</a> </li>
                        <li> <a class="card__list" href="mailto:info@example.com"></a>noreply@envato.com</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
        </main>
        <footer></footer>
    </body>
</html>