<footer class="footer">
  <div class="container">
    <section class="footer-">
      <p>homemade ice cream made</p>
      <p>with passion</p>
    </section>
    <section class="footer-icons">
      <ul class="footer-icons__list">
        <li class="footer-icons__item">
          <div class="icons__item--container">
            <a href="https://github.com/">
              <svg width="34px" height="34px" style="cursor: pointer">
                <use href="../images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="footer-icons__item">
          <div class="icons__item--container">
            <a href="https://telegram.org/">
              <svg width="34px" height="34px" style="cursor: pointer">
                <use href="../images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="footer-icons__item">
          <div class="icons__item--container">
            <a href="https://www.facebook.com/">
              <svg width="34px" height="34px" style="cursor: pointer">
                <use href="../images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </section>
    <section class="footer-contact">
      <address>
        <ul class="">
          <li>
            <p>Feel free to contact</p>
          </li>
          <li class="footer-contact__item">
            <a
              href="tel:+61 (0) 383 766 284"
              class="footer-contact__link footer-contact__link--phone"
              >+61 (0) 383 766 284</a
            >
          </li>
        </ul>
      </address>
    </section>
  </div>
  <div class="line"></div>
  <section class="footer-rights">
    <p class="footer__text">© 2022 - IceCream. All Rights Reserved.</p>
  </section>
</footer>
