<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>traditionalandlove</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/icon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Titan+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="howistmade container">
    
    <h2>tradition and love</h2>
      <h3>how it's made?</h3>
 
      <div class="information">
        <img class="image" src="./images/cowandmilk.png" alt="cowandmilk" />
        <div class="parraf">
          <p class="content1">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>
          <p class="content2">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button class="readmore" type="button">
            <p>Read more</p>
            <svg
              width="10"
              height="10"
              viewBox="0 0 8 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.61646 1L6.04413 5L1.61646 9"
                stroke="#D41443"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="info-salud">
        <div class="leche icon-section">
          <svg height="50px" width="50px">
            <use href="./css/icon.svg#icon-leche"></use>
          </svg>
          <h4>721</h4>
          <p class="description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <!--cierra primer div-->
        <div class="icon-section jugo">
          <svg height="50px" width="50px">
            <use href="./css/icon.svg#icon-jugo"></use>
          </svg>
          <h4>16 kg</h4>
          <p class="description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <!--cierra segundo div-->
        <div class="icon-section corazon">
          <svg height="50px" width="50px">
            <use href="./css/icon.svg#icon-corazon"></use>
          </svg>
          <h4>84</h4>
          <p class="description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <!--cierra tercer div-->
      </div>
      <!--cierrar div icon-section-->
    </section>
  </body>
</html>
