<section class="icecream-main">
  <div class="bubbles">
    <span> </span>
    <span> </span>
    <span> </span>
    <span> </span>
    <span> </span>
    <span> </span>
    <span> </span>
    <span> </span>
  </div>
  <section class=" icecream container">
  <div class="icecream__left-section relative">
    <ul class="icecream__left-section--tittles">
      <li><h2 class="left-section__tittles--tittle1">ICE CREAM</h2></li>
      <li><h2 class="left-section__tittles--tittle1">MADE WITH</h2></li>
      <li><h2 class="left-section__tittles--tittle2">PASSION</h2></li>
    </ul>
    <ul class="icecream__left-section--ul">
      <li>
        <button class="icecream__left-section--button1">Products</button>
      </li>
      <li>
        <button class="icecream__left-section--button2">how it's made?</button>
      </li>
    </ul>
    <div class="icecream__left-section--div relative">
      <img
        class= "icecream__left-section--milk-img"
        src="./images/milk.png"
        alt="milk"
        width="auto"
        height="auto"
      />
      <ul>
        <li>
          <p class="icecream__left-section--paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
        </li>

        <li><img class="icecream__left-section--arrow-img" src="./images/arrow-right.png" alt="arrow-right" /></li>
      </ul>
    </div>
  </div>
 
    <ul class="icecream__rigth-section--ul relative">
        <li class="icecream__rigth-section--ul">
            <img class="icecream__rigth-section--img" src="./images/helado.png" alt="icecream">
        </li>
    </ul>
    
    <div class="icecream__rigth-section--div relative">
        <ul class="rigth-section__numbers-ul relative">
            <li>
                <h2 class="rigth-section__numbers-ul--number">16</h2>
                <p class="rigth-section__numbers-ul--paragraph">cafes</p>
            </li>
            <li>
                <h2 class="rigth-section__numbers-ul--number">23</h2>
                <p class="rigth-section__numbers-ul--paragraph">food trucks</p>
            </li>
        </ul>
        <ul class="rigth-section__soo-tasty-ul relative">
            <li>
                <img class="rigth-section__soo-tasty-ul--img" src="./images/soo-tasty.png" alt="">
            </li>
        </ul>
    </div>
  </section>
</section>