<section>
    <div class="products-cont">
      <h3 class="natural">100 % natural</h3>
      <h2 class="tittlep">products</h2>
      <div class="products">
        <div class="ice-cream style-icecream">
          <img class="products-image" src="./images/iceCream.png" alt="" />
          <h4 class="tittle4">ice cream</h4>
          <div class="icon-section">
            <svg class="icon-style" height="10" width="10">
              <circle cx="5" cy="5" r="3" />
            </svg>
            <svg class="icon-style" height="10" width="10">
              <circle cx="5" cy="5" r="3" />
            </svg>
            <svg class="icon-style" height="10" width="10">
              <circle cx="5" cy="5" r="3" />
            </svg>
          </div>
          <!--cierra div iconos-->
          <p class="parraf">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <img
            class="right-arrow"
            src="./images/arrow-right.png"
            alt="flecha a la derecha"
          />
        </div>
        <div class="ice-coffee style-coffee">
          <img class="products-image" src="./images/iceCoffee.png" alt="" />
          <h4 class="tittle4">ice coffee</h4>
          <div class="icon-section">
            <svg class="icon-style" height="10" width="10">
              <circle cx="5" cy="5" r="3" />
            </svg>
            <svg class="icon-style" height="10" width="10">
              <circle cx="5" cy="5" r="3" />
            </svg>
            <svg class="icon-style" height="10" width="10">
              <circle cx="5" cy="5" r="3" />
            </svg>
          </div>
          <!--cierra div iconos-->
          <p class="parraf">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <img
            class="right-arrow"
            src="./images/arrow-right.png"
            alt="flecha a la derecha"
          />
        </div>
        <div class="style-milkshakes">
          <img class="products-image" src="./images/milkShakes.png" alt="" />
          <h4 class="tittle4">milkshakes</h4>
          <div class="icon-section">
            <svg class="icon-style" height="10" width="10">
              <circle cx="5" cy="5" r="3" />
            </svg>
            <svg class="icon-style" height="10" width="10">
              <circle cx="5" cy="5" r="3" />
            </svg>
            <svg class="icon-style" height="10" width="10">
              <circle cx="5" cy="5" r="3" />
            </svg>
          </div>
          <!--cierra div iconos-->
          <p class="parraf">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <img
            class="right-arrow"
            src="./images/arrow-right.png"
            alt="flecha a la derecha"
          />
        </div>
      </div>
    </div>
  </section>