.footer{
    background-color: $background_main;
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
}

/*footer-titles*/
.footer-titles{
    font-family:  Titan One;
    text-transform: uppercase;
    font-weight: 400px;
    padding-top: 20px;
    gap: 16px;
    margin-bottom: 40px;
    .footer--title1 {
        color: $pink_color;
        font-size: 18px;
        line-height: 21px;
        width: 232px;
        height: 42px;
    }
    .footer--title2 {
        color: $violet_color;
        font-size: 34px;
        line-height: 39px;
        letter-spacing: 4%;
        width: 200px;
        height: 76px;
    }
}

/*footer-icons*/
.footer-icons{
    display: flex;
    justify-content: flex-end;
    .footer-icons__list{
        display: flex;
        gap: 28.24px;
        width: 152.47px;
        height: 32px;
    }
}
.footer-icons__container{
    display: flex;
    width: 32px;
    height: 32px;
    .footer-icons__item{
        margin: 0;
        text-align: center;
        border-radius: 50%;
        background-color: $lightpink_color;
        transition: background-color 0.2s ease-in-out;
        & a svg{
            width: 32px;
            height: 32px;
            display: block;
            margin: 0;
            fill: $social;
                &:hover {
                    fill: $violet_color;
                }
        }
    }
}

/*footer-contact*/
.footer-contact{
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}
.footer-contact__address{
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 230px;
    height: 22px;
    margin-bottom: 24px;
    margin-top: 40px;
    .footer-contact__p{
        color: $black_color;
        font-size: 0.75rem;
        line-height: 1.375rem;
    }
    .footer-contact__link{
        color: $violet_color;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        font-size: 0.75rem;
    }
}

/*footer-rights*/
.line{
    background-color: $grey_color;
    height: 1px;
    width: 100%;
    margin: 16px 0;
}
.footer-rights{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3px;
    .footer__text{
        font-weight: 700;
        color: $grey_color;
        font-size: 14px;
        line-height: 21px;
    }
}

/*Animaciones*/
.footer--title1{
    position: relative;
    animation: move1 3s cubic-bezier(.27, .73, .58, .41) infinite alternate-reverse;
}
@keyframes move1 {
    0% {
        transform: scale(0.8);
        color: #FFC0CB;
    }
    50% {
        transform: scale(1);
        color: #FFC1D1;
    }
    50.1% {
        color: #FFA5BA;
    }
    100% {
        transform: scale(0.8);
        color: #D9849E;
    }
}
.footer--title2 {
    position: relative;
    animation: move2 4s cubic-bezier(.27, .73, .58, .41) infinite alternate-reverse;
}
@keyframes move2 {
    0% {
        transform: scale(0.8);
        color: #B80D57;
    }
    50% {
        transform: scale(1);
        color: #D41443;
    }
    50.1% {
        color: #F0264F;
    }
    100% {
        transform: scale(0.8);
        color: #FF3F6F;
    }
}

.footer-icons__item {
    display: inline-block;
    transition: transform 0.5s ease;
}
.footer-icons__item:hover svg {
    animation: rotate 1s linear infinite, rotate-stop 0.5s linear 1 forwards;
    animation-fill-mode: forwards;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate-stop {
    100% {
        transform: rotate(360deg);
    }
}

.footer-contact {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        animation: shake 0.5s;
    }
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}

@media (min-width: 768px){
    .footer {
        flex-wrap: wrap;
    }

    /*footer-titles*/
    .footer-titles{
        float: left;
        width: 50%;
        .footer--title1{
            width: 340px;
            height: 57px;
            font-size: 26px;
            line-height: 30px;
        }
        .footer--title2{
            width: 340px;
            height: 110px;
            font-size: 48px;
            line-height: 55px;
            letter-spacing: 6%;
        }
    }

    /*footer-icons*/
    .footer-icons{
    flex-flow: row nowrap;
    margin: 77px 0 0 0;
    width: 40%;
    height: 34px;
        .footer-icons__list{
        width: 162px;
        height: 34px;
        gap: 30px;
        }
    }

    /*footer-contact*/

    .footer-contact{
        flex-flow: row nowrap;
        width: 40%;
    }
    .footer-contact__address{
        width: 268px;
        height: 26px;
        justify-content: flex-end;
        .footer-contact__p{
            font-size: 14px;
            line-height: 26px;
            text-align: right;
        }
    }

    /*footer-rights*/
    .line {
        width: 100%;
        height: 1px;
        clear: both;
        margin: 0px auto 7px auto;
    }
    .footer-rights {
        margin-bottom: 4px;
            .footer__text {
                display: flex;
                flex-direction: row;
                font-size: 14px;
                line-height: 26px;
                gap: 3px;
            }
    }
}

@media (min-width: 1200px){
    /*footer-titles*/
    .footer--title1{
        width: 472px;
        height: 34px;
        font-size: 30px;
        line-height: 34.35px;
    }
    .footer--title2{
        width: 474px;
        height:66px;
        font-size: 58px;
        line-height: 66px;
    }

    /*footer-icons*/
    .footer-icons{
    margin: 37px 0 0 0;
    width: 43%;
    }

    /*footer-contact*/
    .footer-contact{
        width: 43%;
    }
    .footer-contact__address{
        width: 319px;
        height: 30px;
        .footer-contact__p{
            font-size: 16px;
            line-height: 30px;
        }
    }
}